# .NET Core
bin/
obj/

# Visual Studio Code
.vscode/

# Visual Studio
*.user
*.suo
*.cache
*.dll
*.exe
*.log
*.vspscc
*.vssscc
*.obj
*.pdb
*.ncb
*.sbr
*.tlb
*.tlh
*.ilk
*.aps
*.pch
*.res
*.scc
*.tl
*.tli
*.tlh
*.bak
*.cache
*.ilk
*.log
*.ncb
*.obj
*.pch
*.pdb
*.sbr
*.scc
*.suo
*.tlog
*.tmp
*.user
*.vc.db
*.vcxproj.user
*.vcxproj.*
*.vspx
*.vssscc
*.vspscc
*.vstsc
*.vstfs
*.vslauncher
*.vsmdi
*.vsps
*.vsp
*.ipch/
*.opendb

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

# StyleCop
StyleCopReport.xml

# Files and directories created by Visual Studio
[Dd]ebug/
[Rr]elease/
TestResults/
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.sqlite
*.sln.docstates
*.cache
*.ilk
*.log
*.ncb
*.obj
*.pch
*.pdb
*.sbr
*.scc
*.suo
*.tlog
*.user
*.vc.db
*.vcxproj.user
*.vcxproj.*
*.vspx
*.vssscc
*.vspscc
*.vstsc
*.vstfs
*.vslauncher
*.vsmdi
*.vsps
*.vsp
*.ipch/
*.opendb
*.sln.docstates
